@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to left, #03A63C, #04D939);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 9px #002342;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #012340;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

h2 {
    color: #025939;
}

p {
    text-align: justify;
}