@charset "UTF-8";

/*
    em HTML é id = em CSS é  # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: rgb(89, 214, 131);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
    font-family: "Roboto";

}

h2 {
    color: rgb(27, 82, 6);
}

.basico {
    color: rgb(6, 48, 13);
    font-weight: bold;
}

.intermediario {
    color: rgb(0, 97, 68);
    font-weight: bold;
}

.avancado {
    color: rgb(76, 109, 63);
    font-weight: bold;
}

.destaque {
    background-color: rgba(192, 192, 53, 0.699);
}